@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&display=swap";
html {
  font-size: 62.5%;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: rgb(105, 110, 107);
  background-color: rgb(180, 177, 172);
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: rgb(105, 110, 107);
  background-color: rgb(180, 177, 172);
}

h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(108, 120, 173);
}

figcaption {
  font-size: 1.7rem;
  background-color: rgb(117, 108, 108);
  color: black;
  font-style: italic;
  border: 5px rgb(105, 110, 107) inset;
}

.escuela {
  border: 5px rgb(105, 110, 107) inset;
}

* {
  margin: 0;
  padding: 0;
}

/* Estilos para Fondos */
body {
  background-color: rgb(108, 179, 192);
}

header {
  background: linear-gradient(to top, #45b39d, #5f7e78);
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(65, 101, 141);
  font-size: 20px;
  border: 3px inset rgb(44, 43, 43);
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  display: block;
}

li {
  display: inline;
}

/* Estilos Etiquetas A */
a {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border: 5px rgb(105, 110, 107) outset;
  font-size: 1rem;
}

.logo {
  border: 5px rgb(105, 110, 107) inset;
}

.imgCarousel {
  height: 40vh;
  object-fit: cover;
  border: 5px rgb(105, 110, 107) inset;
  margin-bottom: 20px;
}

.index2 {
  height: 50%;
  background-color: rgb(116, 142, 180);
}

.index3 {
  height: 20%;
  background: linear-gradient(to bottom, #45b39d, #5f7e78);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.index3 div figure img {
  border: 5px rgb(105, 110, 107) inset;
}

.index5 {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index5 div div p {
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.index5 div h3 {
  display: inline;
  margin: 1rem;
  font-size: 2rem;
}

.index5 {
  font-size: 2rem;
  flex-direction: row;
  background: linear-gradient(to bottom, #6f9daf, #5f7e78);
}
.index5 .parrafoConParametros {
  display: flex;
}

.foto-contacto {
  border: 5px rgb(105, 110, 107) inset;
}

.img-ubic {
  border: 5px rgb(105, 110, 107) inset;
}

.mapa-ubic {
  border: 5px rgb(105, 110, 107) inset;
}

footer {
  background-color: rgb(127, 164, 206);
  background: linear-gradient(to top, #45b39d, rgb(127, 164, 206));
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  display: block;
}
footer a {
  border: 0;
}
footer a img {
  border: 4px cadetblue outset;
  transition: width 1s, height 1s;
}
footer a img:hover {
  height: 5.7rem;
  width: 9.7rem;
}

.img-logofooter {
  display: inline-block;
  border: 4px cadetblue inset;
  margin-top: 10px;
}

.logo-footer {
  color: black;
  font-size: 1.5rem;
  border: 5px rgb(105, 110, 107) inset;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Esto es un comentario */
/* ctrl + k + u */

/*# sourceMappingURL=estilo.css.map */
