/* Esto es un comentario */
/* ctrl + k + u */
*
{
margin: 0;
padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&display=swap');

header
{
background-color: #6f9daf;

text-align: center;

text-transform: uppercase;
    /* Texto en Mayuscula */
font-family: 'Josefin Sans', sans-serif;
/* Seleccianamos la fuente */
color:rgb(65, 101, 141) ;

font-size: 20px;

border:3px inset rgb(44, 43, 43);

margin-top: 20px;

margin-bottom: 20px;
}

nav
{

font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Seleccianamos la fuente */

font-size: 15px;
    /* Tamaño de las fuentes */
display: block;
}

li
{
    display: inline;
}

/* Estilos Etiquetas A */

a 
{
margin-top: 10px;

text-decoration: none;
    /* Sacamos el subrayado */

color: black;
    /* Cambio el color de la fuente */

text-transform: uppercase;
    /* Texto en Mayuscula */
border: 5px  rgb(105, 110, 107) outset;

font-size: 20px;
}

.logo
{
    border: 5px  rgb(105, 110, 107) inset;
    
}

h3
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(105, 110, 107);
    background-color: rgb(180, 177, 172);
}

h4
{
    text-transform: uppercase;
    /* Texto en Mayuscula */
    font-size: 17px;
    color: rgb(108, 120, 173);
}
section div div h4
{
    margin-bottom: 20px;
}
form
{
    margin-bottom: 20px;
}

/* Cuando llamamos a una clase va . antes del nombre */
/* Cuando llamamos a un id va # antes del nombre */
/* Caracteristicas de Css */

/* 1) Padres e hijos */

body
{
    background-color: rgb(108, 179, 192);
}
/* Se podria separar fondos */

/* Propiedades Comunes */
/* Estilos a los textos */


/* Css Html Escuelas Zona Centro*/

figcaption 
{ 
    background-color: rgb(117, 108, 108);
    color: black;
    font-style: italic;
    
}
.index3
{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.foto-contacto
{
    border: 5px  rgb(105, 110, 107) inset;
}


/* Estilos para Fondos */
footer
{

background-color: rgb(127, 164, 206);  

text-align: center;

font-weight: bold;

font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Seleccianamos la fuente */

font-size: 10px;
    /* Tamaño de las fuentes */
display: block;

}
footer a
{
    border: 0;
}
footer img
{
    margin-top: 20px;
}
footer a img
{
    
    border: 4px cadetblue outset;
}
.index1
{
    height: 41.5vh;

}
.imgCarousel
{
    height: 40vh;
    object-fit: cover;
    border: 5px  rgb(105, 110, 107) inset;  
    margin-bottom: 20px;
}
.index2
{
    height: 50%;
    background-color: rgb(116, 142, 180);
}
.img-ubic
{
    border: 5px  rgb(105, 110, 107) inset;  
}
.mapa-ubic
{
    border: 5px  rgb(105, 110, 107) inset;  
}
.img-logofooter
{
    display: inline-block;
    border: 4px cadetblue inset;
   
}
.logo-footer
{   
    color:black;
    font-size: 15px;
    border: 5px  rgb(105, 110, 107) inset;  
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

