$vista: mobil;
.index5
{
    @mixin parrafoConParametros($size, $direccion) {
        font-size: $size ;
        flex-direction:  $direccion ;
    } 
    @if ($vista == escritorio) {
        @include parrafoConParametros(1.2rem, row);
        background-color: $background-color_1;
    }@else if ($vista == mobil) {
        @include parrafoConParametros(1.2rem, column);
        background-color: $background-color_1;
    }@else {
        @include parrafoConParametros(1rem, column);
        background-color: $background-color_1;
    }
}




