
header {
	
	background: linear-gradient( to top, #45b39d, #5f7e78);
	text-align: center;
	text-transform: uppercase;
	font-family: $font-family_1;
	color: $color_1;
	font-size: 15px;
	border: 3px inset rgb(44, 43, 43);
	margin-top: 15px;
	margin-bottom: 15px;
	
}

nav {
	font-family: $font-family_2;
	font-size: 15px;
	display: block;
}

li {
	display: inline;
}
/* Estilos Etiquetas A */

a {
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	color: $color_2;
	text-transform: uppercase;
	border: 5px rgb(105, 110, 107) outset;
	font-size: 1rem;
	
}

.logo {
	border: 5px rgb(105, 110, 107) inset;
}