

.index2 div div div figure img{
	border: 5px rgb(105, 110, 107) inset;
}

.index21{
	background: linear-gradient( to top, rgb(108, 179, 192), #5f7e78);
	grid-area: textoA;
	width: 50%;
	
}
.index22{
	background: linear-gradient( to top, rgb(108, 179, 192), #5f7e78);
	grid-area: textoB;
	width: 50%;

}
.index21 div figure figcaption {
	display: inline;
}
.index22 div figure figcaption {
	display: inline;
}
.index21 h3 {
	display: inline;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.index22 h3 {
	display: inline;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.index2 {
	width: 100%;
	@media (max-width: 1350px) 
{
	.index21{
		width: 100%
	}
	.index22{
		width: 100%
	}
    .row
    {
        display: grid;
        grid-template-areas: 
        "textoA textoA textoA"
		"textoB textoB textoB"
	;
    }
}
}

.index3 {
	height: 20%;
	background: linear-gradient( to bottom, #45b39d, #5f7e78);
	display: flex;
	flex-direction: flex;
	align-items: center;
	justify-content: center;
}
.index3 div figure img{
	border: 5px rgb(105, 110, 107) inset;
}



.index5 {
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.index5 div div p {
	margin: 1rem;
	align-items: center;
	justify-content: center;
}

.index5 div h3{
	display: inline;
	margin: 1rem;	
	font-size: 1.4rem;
}