


.index2 {
	height: 50%;
	background-color: $background-color_6;
}
.index3 {
	height: 20%;
	background: linear-gradient( to bottom, #45b39d, #5f7e78);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.index3 div figure img{
	border: 5px rgb(105, 110, 107) inset;
}



.index5 {
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.index5 div div p {
	margin: 1rem;
	align-items: center;
	justify-content: center;
}

.index5 div h3{
	display: inline;
	margin: 1rem;	
	font-size: 1.4rem;
}