

h2 {
	text-transform: uppercase;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 2rem;
	color: $color_3;
	background-color: $background-color_2;
}

h3 {
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.7rem;
	color: $color_3;
	background-color: $background-color_2;
	}

h4 {
	text-transform: uppercase;
	font-size: 1.5rem;
	color: $color_4;
}

figcaption {

	font-size: 1.5rem;
	background-color: $background-color_4;
	color: $color_2;
	font-style: italic;
	border: 5px rgb(105, 110, 107) inset;
}


.escuela {
	border: 5px rgb(105, 110, 107) inset;
}

section div div p{
	font-size: 1.7rem;
}
nav div div ul li ul li a{
	font-size: 1.7rem;
}

@keyframes texto {
	
    0% {
        opacity: 0;
    }
	20%{
		opacity: 100%;
		background: linear-gradient( to left top, #45b39d, #5f7e78);
	}
	40%{
		color: yellowgreen;
		background: linear-gradient( to left bottom, #45b39d, #5f7e78);
	}
	60%{
		opacity: 0;
		background: linear-gradient( to right bottom, #45b39d, #5f7e78);
	}
	80%{
		color: rgb(190, 103, 103);
		opacity: 100%;
		background: linear-gradient( to left bottom, #45b39d, #5f7e78);
	}
    100% {
		background: linear-gradient( to left top, #45b39d, #5f7e78);
        opacity: 0;
    }
}

h1 {
	margin: auto;
	text-transform: uppercase;
	font-size: 1.3rem;
	padding: 5px;
    animation-name: texto;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}