
h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	color: $color_3;
	background-color: $background-color_2;
}

h4 {
	text-transform: uppercase;
	font-size: 17px;
	color: $color_4;
}

figcaption {
	background-color: $background-color_4;
	color: $color_2;
	font-style: italic;
	border: 5px rgb(105, 110, 107) inset;
}


.escuela {
	border: 5px rgb(105, 110, 107) inset;
}
